body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

header {
  /* display: flex; */
  justify-content: space-between;
  padding: 1rem;
  background-color: #1c1c1c;
}

nav button {
  background: none;
  border: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

nav button:hover, nav button:focus {
  background-color: #f44336;
}


/* Default styles for larger screens */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.movie-card {
  background-color: #1c1c1c;
  padding: 1rem;
  border-radius: 5px;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

/* Styles for mobile view */
@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
  }
}


.movie-info {
  padding: 0.5rem 0;
}

.movie-info h3 {
  margin: 0.5rem 0;
}
